{% extends 'sample.html' %}

{% block title %} Doctors {% endblock %}

{% block content %}
    <h1>Doctors page</h1>



<div class = "container text-center">
  {% for i in doctors%}
    <div class="card text-center mx-3" style="width: 18rem; display:inline-block">
      <img class="card-img-top" src="{{i.doc_image.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{i.doc_name}}</h5>
        <h6 class="card-text">{{i.doc_spec}}</h6>   
      </div>
    </div>
  {% endfor %}
</div>
   


        
        
{% endblock %}

{% block footer%}
    <section class="fixed-bottom">
      <footer class="pt-2 pb-2  bg-info text-light">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-8">
              <h4>Emergency Contact Number: 0123456789</h4>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-end">
              © 2022 City Hospital. All Rights Reserved
            </div>
          </div>
        </div>
      </footer>
    </section>
{% endblock %}